table {
    background-color: #96D4D4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    width: 350px;
    height: 200px;
}
th, td {    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 350px;
    height: 200px;
}

.vert {
    border-left: 3px solid black;
    border-right: 3px solid black;    
}
.hori {
    border-top: 3px solid black;
    border-bottom: 3px solid black;    
}
